In [1]:
import mplfinance as mpf
from mplfinance.original_flavor import candlestick_ohlc
import pandas as pd
from tvDatafeed import TvDatafeed,Interval
import numpy as np

In [2]:
tv = TvDatafeed()

you are using nologin method, data you access may be limited

In [3]:
niftydf = tv.get_hist(symbol='NIFTY_50', exchange='NSE', interval=Interval.in_daily,n_bars=500)

In [4]:
x = niftydf.index.values.astype('datetime64[D]')

In [5]:
x = [[int(i.item().year), int(i.item().day), int(i.item().month)] for i in x]

In [6]:
x = np.array(x)
x

array([[2020,   19,    3],
       [2020,   20,    3],
       [2020,   23,    3],
       ...,
       [2022,   21,    3],
       [2022,   22,    3],
       [2022,   23,    3]])

In [7]:
y = niftydf.iloc[:,-2].values

In [8]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=120)

In [9]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=100, random_state=120)

In [10]:
model.fit(x_train, y_train)

RandomForestRegressor(random_state=120)

In [11]:
from sklearn.metrics import r2_score
r2_score(y_test, model.predict(x_test))

0.9969612361766708

In [12]:
train_score = model.score(x_train, y_train)
print("Training Score: ", train_score)

test_score = model.score(x_test, y_test)
print("Testing Score: ", test_score)

Training Score:  0.999560245695238
Testing Score:  0.9969612361766708

In [13]:
y_pred = model.predict(x_test)

In [14]:
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[17368.48117  17516.85    ]
 [17136.12215  17315.5     ]
 [17328.005    17377.801   ]
 [14546.1225   14433.7     ]
 [14481.1785   14563.45    ]
 [16249.91198  16605.949   ]
 [17391.67488  16842.801   ]
 [15734.366    15814.7     ]
 [ 9186.181832  9314.9502  ]
 [14945.6345   14929.5     ]
 [18091.39757  18114.9     ]
 [12907.3845   12968.95    ]
 [16238.92193  16498.051   ]
 [12907.3845   12987.      ]
 [12653.0475   12749.15    ]
 [17357.02772  17369.25    ]
 [17136.12215  17245.65    ]
 [17533.23957  17415.051   ]
 [10963.0835   11022.2     ]
 [17628.1852   17546.65    ]
 [11268.06     11153.65    ]
 [18287.28905  18266.6     ]
 [14691.181    14761.55    ]
 [14805.15     14919.1     ]
 [17069.79965  17469.75    ]
 [15035.614    15030.95    ]
 [13600.513    13558.15    ]
 [17201.11339  17354.051   ]
 [ 9145.862878  9383.5498  ]
 [14785.7185   14675.7     ]
 [15736.078    15834.35    ]
 [18103.23983  17857.25    ]
 [17311.93795  17324.9     ]
 [15825.309    15923.4     ]
 [17328.005    17362.1     ]
 [16062.16701  16130.75    ]
 [14734.557    14823.15    ]
 [ 9986.731752 10091.65    ]
 [15765.2505   15879.65    ]
 [10626.161    10802.7     ]
 [11191.085    11214.05    ]
 [11270.262    11300.45    ]
 [18236.11463  18477.051   ]
 [17206.389    17277.949   ]
 [11259.678    11222.4     ]
 [16865.25233  17003.75    ]
 [12543.9495   12461.05    ]
 [15001.179    14906.05    ]
 [14827.988    15097.35    ]
 [17138.36016  17117.6     ]
 [14586.219    14324.9     ]
 [13484.2535   13513.85    ]
 [17069.79965  17176.699   ]
 [11548.0905   11559.25    ]
 [15065.232    15080.75    ]
 [ 8991.623586  8748.75    ]
 [10331.283    10302.1     ]
 [17254.40995  17221.4     ]
 [14437.8525   14504.8     ]
 [17312.97175  17276.301   ]
 [14163.2505   14347.25    ]
 [11259.678    11247.55    ]
 [16348.44855  16529.1     ]
 [ 9253.739742  9154.4004  ]
 [11843.28     11729.6     ]
 [11160.7985   11132.6     ]
 [15704.9015   15689.8     ]
 [18083.10969  17991.949   ]
 [17930.37689  18068.551   ]
 [ 8376.560378  8253.7998  ]
 [14490.505    14644.7     ]
 [17684.0084   17576.85    ]
 [ 8991.02759   9111.9004  ]
 [14374.019    14521.15    ]
 [17215.8604   17086.25    ]
 [11136.975    11162.25    ]
 [16865.25233  17072.6     ]
 [11370.181    11278.      ]
 [11315.5675   11466.45    ]
 [11581.8295   11387.5     ]
 [15757.7835   15763.05    ]
 [11592.1225   11662.4     ]
 [ 9168.59491   8981.4502  ]
 [ 9012.615328  8992.7998  ]
 [14084.799    13634.6     ]
 [14084.799    13817.55    ]
 [11741.5275   11738.85    ]
 [15754.743    15721.5     ]
 [17378.38783  17322.199   ]
 [17627.62437  17711.301   ]
 [14818.4455   14631.1     ]
 [11819.395    11914.2     ]
 [17997.43197  18017.199   ]
 [11474.4085   11333.85    ]
 [17145.46949  17206.65    ]
 [15280.0615   15337.85    ]
 [14796.1675   14894.9     ]
 [ 8104.146116  8745.4502  ]
 [ 9114.466344  9261.8496  ]
 [17180.339    17101.949   ]]

In [15]:
val = np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1)

In [16]:
np.apply_along_axis(lambda j: (j[0] - j[1]) * 100 / j[0], 1, val)

array([-0.85424182, -1.04678205, -0.28737295,  0.7728692 , -0.5681271 ,
       -2.19100891,  3.15595757, -0.51056395, -1.40176158,  0.1079546 ,
       -0.12990942, -0.4769789 , -1.59572828, -0.61682132, -0.75952058,
       -0.0704169 , -0.63916357,  0.6740829 , -0.53923242,  0.46252748,
        1.01534781,  0.1131335 , -0.47898804, -0.76966461, -2.34302896,
        0.03101968,  0.3114809 , -0.8891146 , -2.59884633,  0.74408626,
       -0.62450123,  1.35881661, -0.07487348, -0.61983624, -0.19676241,
       -0.42698467, -0.60126002, -1.05057641, -0.7256434 , -1.66136199,
       -0.20520798, -0.26785535, -1.32120452, -0.41589203,  0.33107519,
       -0.82120129,  0.6608724 ,  0.63414349, -1.81657822,  0.12113271,
        1.79154721, -0.21948935, -0.62624842, -0.09663502, -0.10300538,
        2.70110936,  0.28247218,  0.19131312, -0.46369431,  0.21181083,
       -1.29913327,  0.10771178, -1.10500669,  1.07350482,  0.95986923,
        0.25265665,  0.09615788,  0.50412065, -0.77061464,  1.4655249 ,
       -1.0641106 ,  0.60596216, -1.34437147, -1.02358985,  0.75285462,
       -0.22694672, -1.22943711,  0.81072588, -1.33340639,  1.67788258,
       -0.03342158, -0.60625222,  2.04114929,  0.21986435,  3.19634664,
        1.89742857,  0.02280368,  0.21100312,  0.32332591, -0.47469034,
        1.26427229, -0.80211381, -0.1098325 ,  1.22497382, -0.35683193,
       -0.37819547, -0.66728428, -7.91328383, -1.61702562,  0.45627738])

In [17]:
tv.get_hist(symbol='ALL',exchange='NYSE',interval=Interval.in_1_minute, n_bars=1)

                       symbol    open    high     low   close  volume
datetime
2022-03-23 20:29:00  NYSE:ALL  136.17  136.17  136.17  136.17    30.0